.radius_sm {
  border-radius: var(--ak-radius-sm);
}

.radius_md {
  border-radius: var(--ak-radius-md);
}

.radius_lg {
  border-radius: var(--ak-radius-lg);
}

.radius_full {
  border-radius: 99999999px;
}