$colors: (
  primary: (
    50: hsl(204, 100%, 97%),
    100: hsl(204, 94%, 94%),
    200: hsl(201, 94%, 86%),
    300: hsl(199, 95%, 74%),
    400: hsl(198, 93%, 60%),
    500: hsl(199, 89%, 51%),
    600: hsl(200, 98%, 39%),
    700: hsl(201, 96%, 32%),
    800: hsl(201, 90%, 27%),
    900: hsl(202, 80%, 24%),
    1000: hsl(202, 80%, 10%),
  ),
  secondary: (
    50: hsl(250, 100%, 94%),
    100: hsl(251, 91%, 90%),
    200: hsl(251, 95%, 84%),
    300: hsl(252, 95%, 78%),
    400: hsl(255, 92%, 71%),
    500: hsl(258, 90%, 60%),
    600: hsl(262, 83%, 51%),
    700: hsl(263, 70%, 42%),
    800: hsl(263, 69%, 32%),
    900: hsl(264, 67%, 25%),
    1000: hsl(264, 67%, 10%),
  ),
  success: (
    50: hsl(138, 76%, 97%),
    100: hsl(141, 84%, 93%),
    200: hsl(141, 79%, 85%),
    300: hsl(142, 77%, 73%),
    400: hsl(142, 69%, 58%),
    500: hsl(142, 71%, 45%),
    600: hsl(142, 76%, 36%),
    700: hsl(142, 72%, 29%),
    800: hsl(143, 64%, 24%),
    900: hsl(144, 61%, 20%),
    1000: hsl(144, 61%, 10%),
  ),
  alert: (
    50: hsl(0, 100%, 94%),
    100: hsl(0, 100%, 90%),
    200: hsl(0, 100%, 85%),
    300: hsl(0, 100%, 78%),
    400: hsl(0, 100%, 71%),
    500: hsl(0, 100%, 60%),
    600: hsl(0, 100%, 51%),
    700: hsl(0, 100%, 42%),
    800: hsl(0, 100%, 35%),
    900: hsl(0, 100%, 25%),
    1000: hsl(0, 100%, 10%),
  ),
  warning: (
    50: hsl(33, 100%, 94%),
    100: hsl(34, 100%, 90%),
    200: hsl(32, 98%, 84%),
    300: hsl(31, 97%, 78%),
    400: hsl(27, 96%, 71%),
    500: hsl(25, 95%, 60%),
    600: hsl(21, 90%, 51%),
    700: hsl(17, 88%, 42%),
    800: hsl(15, 79%, 35%),
    900: hsl(15, 75%, 25%),
    1000: hsl(15, 75%, 10%),
  ),
  slate: (
    50: hsl(210, 40%, 98%),
    100: hsl(210, 40%, 96%),
    200: hsl(214, 32%, 91%),
    300: hsl(213, 27%, 84%),
    400: hsl(215, 20%, 65%),
    500: hsl(215, 16%, 47%),
    600: hsl(215, 19%, 35%),
    700: hsl(215, 25%, 27%),
    800: hsl(217, 33%, 17%),
    900: hsl(222, 47%, 11%),
  ),
  gray: (
    50: hsl(210, 20%, 98%),
    100: hsl(220, 14%, 96%),
    200: hsl(220, 13%, 91%),
    300: hsl(216, 12%, 84%),
    400: rgb(156 163 175),
    500: hsl(220, 9%, 46%),
    600: hsl(215, 14%, 34%),
    700: hsl(217, 19%, 27%),
    800: hsl(215, 28%, 17%),
    900: hsl(221, 39%, 11%),
  ),
  red: (
    50: hsl(0, 100%, 94%),
    100: hsl(0, 100%, 90%),
    200: hsl(0, 100%, 85%),
    300: hsl(0, 100%, 78%),
    400: hsl(0, 100%, 71%),
    500: hsl(0, 100%, 60%),
    600: hsl(0, 100%, 51%),
    700: hsl(0, 100%, 42%),
    800: hsl(0, 100%, 35%),
    900: hsl(0, 100%, 25%),
    1000: hsl(0, 100%, 10%),
  ),
  orange: (
    50: hsl(33, 100%, 94%),
    100: hsl(34, 100%, 90%),
    200: hsl(32, 98%, 84%),
    300: hsl(31, 97%, 78%),
    400: hsl(27, 96%, 71%),
    500: hsl(25, 95%, 60%),
    600: hsl(21, 90%, 51%),
    700: hsl(17, 88%, 42%),
    800: hsl(15, 79%, 35%),
    900: hsl(15, 75%, 25%),
    1000: hsl(15, 75%, 10%),
  ),
  violet: (
    50: hsl(250, 100%, 94%),
    100: hsl(251, 91%, 90%),
    200: hsl(251, 95%, 84%),
    300: hsl(252, 95%, 78%),
    400: hsl(255, 92%, 71%),
    500: hsl(258, 90%, 60%),
    600: hsl(262, 83%, 51%),
    700: hsl(263, 70%, 42%),
    800: hsl(263, 69%, 32%),
    900: hsl(264, 67%, 25%),
    1000: hsl(264, 67%, 10%),
  ),
  green: (
    50: hsl(138, 76%, 97%),
    100: hsl(141, 84%, 93%),
    200: hsl(141, 79%, 85%),
    300: hsl(142, 77%, 73%),
    400: hsl(142, 69%, 58%),
    500: hsl(142, 71%, 45%),
    600: hsl(142, 76%, 36%),
    700: hsl(142, 72%, 29%),
    800: hsl(143, 64%, 24%),
    900: hsl(144, 61%, 20%),
    1000: hsl(144, 61%, 10%),
  ),
  blue: (
    50: hsl(204, 100%, 97%),
    100: hsl(204, 94%, 94%),
    200: hsl(201, 94%, 86%),
    300: hsl(199, 95%, 74%),
    400: hsl(198, 93%, 60%),
    500: hsl(199, 89%, 51%),
    600: hsl(200, 98%, 39%),
    700: hsl(201, 96%, 32%),
    800: hsl(201, 90%, 27%),
    900: hsl(202, 80%, 24%),
    1000: hsl(202, 80%, 10%),
  ),
  yellow: (
    50: hsl(55, 92%, 95%),
    100: hsl(55, 97%, 88%),
    200: hsl(53, 98%, 77%),
    300: hsl(50, 98%, 64%),
    400: hsl(48, 96%, 53%),
    500: hsl(45, 93%, 47%),
    600: hsl(41, 96%, 40%),
    700: hsl(35, 92%, 33%),
    800: hsl(32, 81%, 29%),
    900: hsl(28, 73%, 26%),
    1000: hsl(28, 73%, 10%),
  ),
);
