$font-sizes: (
  sm: (
    // 12px
    xs: 0.75rem,
    // 14px
    sm: 0.875rem,
    // 16px
    base: 1rem,
    // 18px
    md: 1.125rem,
    // 20px
    lg: 1.25rem,
    // 24px
    xl: 1.5rem,
    // 28px
    2xl: 1.75rem,
    // 32px
    3xl: 2rem,
    // 36px
    4xl: 2.25rem,
    // 44px
    5xl: 2.75rem,
    // 52px
    6xl: 3.25rem,
    // 60px
    7xl: 3.75rem,
    // 72px
    8xl: 4.5rem,
  ),
  lg: (
    // 12px
    xs: 0.75rem,
    // 14px
    sm: 0.875rem,
    // 16px
    base: 1rem,
    // 18px
    md: 1.125rem,
    // 20px
    lg: 1.25rem,
    // 24px
    xl: 1.5rem,
    // 30px
    2xl: 1.875rem,
    // 36px
    3xl: 2.25rem,
    // 48px
    4xl: 3rem,
    // 60px
    5xl: 3.75rem,
    // 72px
    6xl: 4.5rem,
    // 96px
    7xl: 6rem,
    // 128px
    8xl: 8rem,
  ),
);
